<?xml version="1.0" encoding="UTF-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${basedir}/logs/internal-nlog.txt"
      internalLogLevel="Error">
  <extensions>
    <add assembly="NLog.Extensions.Logging" />
  </extensions>
  <targets>
    <target xsi:type="Database" name="db" connectionStringName="Default">
      <commandText>
        INSERT INTO Logs (Timestamp, Level, Message, Exception)
        VALUES (@timestamp, @level, @message, @exception);
      </commandText>
      <parameter name="@timestamp" layout="${longdate}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="db" />
    <logger name="Microsoft.*" maxlevel="off" final="true" />
  </rules>
</nlog>